<!--
  Route definieren in app.module.ts
  { path: 'categories/:categoryId/dishes',component: DishListComponent }

  Link setzten auf categories/:categoryId/dishes diese Adresse
  dazu egehn wir in die category.component.html

  Anpassen:
  (alt)
  <button mat-button>Details</button>
  Route einfügen
  (neu)
  <button mat-button [routerLink]="['/categories', category.id, 'dishes']">Details</button>
  beachte category.id ist kein string

  hier will ich die category in deser componete auslesen zu wechsel in
  dish-list.commponent.ts
 -->
<!-- CategoryId: {{categoryId}} -->

<h1>{{category?.name}}</h1>  <!--? Elvisoperator damit wird sichergestellt, für den Fall das category Null ist kein fehler beim ZUgriff passert-->

<mat-card class="dish-card" *ngFor="let dish of category?.dishes">
  <mat-card-header>
    <mat-card-title>{{dish.name}}</mat-card-title>
    <mat-card-subtitle>{{dish.description}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/api/dishes/{{dish.id}}/image" alt="Foto von {{dish.name}}" />

  <mat-card-footer align="right" class="dish-card-footer">
    {{dish.price | currency:'EUR'}}
  </mat-card-footer>

  <mat-card-actions>
    <button mat-button [routerLink]="['/dishes',dish.id]">Details</button>
  </mat-card-actions>
</mat-card>

<button mat-button [routerLink]="['/dishes','create']">Neue Speisen</button>

